<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>酒店经理主页</title>
        <script src="../static/js/http_ajax.aspnetcdn.com_ajax_jquery_jquery-3.5.1.js"></script>
        <script src="../static/js/managerJS.js"></script>
        <link rel="stylesheet" href="../static/css/managerCss.css">
    </head>
    <body>
        <div id="content">
            <div id="userName">经理前台</div>
            <div id="billTitle">账单信息:
                <div id="billInfo">
                    <!--
                    <div>房间号:<span>00</span>
                        总花费:<span>20.00</span>
                        开关次数:<span>10</span>
                        最频繁温度:<span>23</span>
                        最频繁速度:<span>2</span>
                        达到目标温度总时间:<span>10</span>
                        被调次数:<span>3</span>
                        入住人数:<span>3</span>
                    </div>
                    <div>房间号:<span>00</span>
                        总花费:<span>20.00</span>
                        开关次数:<span>10</span>
                        最频繁温度:<span>23</span>
                        最频繁速度:<span>2</span>
                        达到目标温度总时间:<span>10</span>
                        被调次数:<span>3</span>
                        入住人数:<span>3</span>
                    </div>
                    <div>房间号:<span>00</span>
                        总花费:<span>20.00</span>
                        开关次数:<span>10</span>
                        最频繁温度:<span>23</span>
                        最频繁速度:<span>2</span>
                        达到目标温度总时间:<span>10</span>
                        被调次数:<span>3</span>
                        入住人数:<span>3</span>
                    </div>
                    <div>房间号:<span>00</span>
                        总花费:<span>20.00</span>
                        开关次数:<span>10</span>
                        最频繁温度:<span>23</span>
                        最频繁速度:<span>2</span>
                        达到目标温度总时间:<span>10</span>
                        被调次数:<span>3</span>
                        入住人数:<span>3</span>
                    </div>
                    <div>房间号:<span>00</span>
                        总花费:<span>20.00</span>
                        开关次数:<span>10</span>
                        最频繁温度:<span>23</span>
                        最频繁速度:<span>2</span>
                        达到目标温度总时间:<span>10</span>
                        被调次数:<span>3</span>
                        入住人数:<span>3</span>
                    </div>
                    <div>房间号:<span>00</span>
                        总花费:<span>20.00</span>
                        开关次数:<span>10</span>
                        最频繁温度:<span>23</span>
                        最频繁速度:<span>2</span>
                        达到目标温度总时间:<span>10</span>
                        被调次数:<span>3</span>
                        入住人数:<span>3</span>
                    </div>
                    <div>房间号:<span>00</span>
                        总花费:<span>20.00</span>
                        开关次数:<span>10</span>
                        最频繁温度:<span>23</span>
                        最频繁速度:<span>2</span>
                        达到目标温度总时间:<span>10</span>
                        被调次数:<span>3</span>
                        入住人数:<span>3</span>
                    </div>
                    <div>房间号:<span>00</span>
                        总花费:<span>20.00</span>
                        开关次数:<span>10</span>
                        最频繁温度:<span>23</span>
                        最频繁速度:<span>2</span>
                        达到目标温度总时间:<span>10</span>
                        被调次数:<span>3</span>
                        入住人数:<span>3</span>
                    </div>
                    <div>房间号:<span>00</span>
                        总花费:<span>20.00</span>
                        开关次数:<span>10</span>
                        最频繁温度:<span>23</span>
                        最频繁速度:<span>2</span>
                        达到目标温度总时间:<span>10</span>
                        被调次数:<span>3</span>
                        入住人数:<span>3</span>
                    </div>
                    <div>房间号:<span>00</span>
                        总花费:<span>20.00</span>
                        开关次数:<span>10</span>
                        最频繁温度:<span>23</span>
                        最频繁速度:<span>2</span>
                        达到目标温度总时间:<span>10</span>
                        被调次数:<span>3</span>
                        入住人数:<span>3</span>
                    </div>
                    -->
                </div>
            </div>
            <div><button id="quit">退出</button></div>
        </div>
    </body>
</html>