<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>前台主页</title>
        <script src="../static/js/http_ajax.aspnetcdn.com_ajax_jquery_jquery-3.5.1.js"></script>
        <script src="../static/js/receptionistJS.js" defer></script>
        <link rel="stylesheet" href="../static/css/receptionistMainCss.css">
    </head>
    <body>
        <div id="content">
            <div id="userName">前台管理员</div>
            <div class="request">
                <h2 id="requestTitle">入住请求</h2>
                <div id="checkInList">

                    <div>
                        用户名:<span>abc</span>
                        房间号:<input type="number" max="10" min="1">
                        <button onclick="checked_in($(this))">接受</button>
                    </div>
                    <div>
                        用户名:<span>abc</span>
                        房间号:<input type="number" max="10" min="1">
                        <button onclick="checked_in($(this))">接受</button>
                    </div>

                </div>
            </div>
            <div class="manager">
                <h2 id="infoTitle">房客管理</h2>
                <div id="customerList">
                    <!--
                    <div>
                        房间号:<span>00</span>
                        用户名:<span>XXX</span>
                        当前费用:<span>20.00</span>
                        <button onclick="settle_account($(this))">结算</button>
                    </div>
                    <div>
                        房间号:<span>00</span>
                        用户名:<span>XXX</span>
                        当前费用:<span>20.00</span>
                        <button onclick="settle_account($(this))">结算</button>
                    </div>
                    <div>
                        房间号:<span>00</span>
                        用户名:<span>XXX</span>
                        当前费用:<span>20.00</span>
                        <button onclick="settle_account($(this))">结算</button>
                    </div>
                    <div>
                        房间号:<span>00</span>
                        用户名:<span>XXX</span>
                        当前费用:<span>20.00</span>
                        <button onclick="settle_account($(this))">结算</button>
                    </div>
                    <div>
                        房间号:<span>00</span>
                        用户名:<span>XXX</span>
                        当前费用:<span>20.00</span>
                        <button onclick="settle_account($(this))">结算</button>
                    </div>
                    <div>
                        房间号:<span>00</span>
                        用户名:<span>XXX</span>
                        当前费用:<span>20.00</span>
                        <button onclick="settle_account($(this))">结算</button>
                    </div>
                    <div>
                        房间号:<span>00</span>
                        用户名:<span>XXX</span>
                        当前费用:<span>20.00</span>
                        <button onclick="settle_account($(this))">结算</button>
                    </div>
                    <div>
                        房间号:<span>00</span>
                        用户名:<span>XXX</span>
                        当前费用:<span>20.00</span>
                        <button onclick="settle_account($(this))">结算</button>
                    </div>
                    <div>
                        房间号:<span>00</span>
                        用户名:<span>XXX</span>
                        当前费用:<span>20.00</span>
                        <button onclick="settle_account($(this))">结算</button>
                    </div>
                    <div>
                        房间号:<span>00</span>
                        用户名:<span>XXX</span>
                        当前费用:<span>20.00</span>
                        <button onclick="settle_account($(this))">结算</button>
                    </div>
                    -->
                </div>
            </div>
            <div><button id="quit">退出</button></div>
            <div id="alert">提示信息</div>
        </div>
    </body>
</html>